body {
    background-image: url(./okeykat.jpg);
    background-size: cover;
}
.delete {
    border: none;
    opacity: 0.7;
}

.delete:hover {
    opacity: 1;
}

.container-1 {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

.container {
    width: 45%;
    border: 1px solid #853d3d39;
    box-shadow: 9px 10px 18px -5px rgba(0,0,0,0.84);
    -webkit-box-shadow: 9px 10px 18px -5px rgba(0,0,0,0.84);
    -moz-box-shadow: 9px 10px 18px -5px rgba(0,0,0,0.84);
}

.container-2 {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5px 5px;
}

h2 {
    font-weight: 700;
    color: #505638;
}
span {
    color: #505638;
}

#create-task {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

#new-task-content {
    border: 0.5px solid #b3acac;
    border-radius: 5px;
}

.btn-live {
    font-size: 0.8rem;
}

.filter-btn {
    border: none;
}

@media (max-width: 720px) {
    .container {
        width: 75%;
    }
}